<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Find Your Favorite Flower!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- <ion-item>
  <select id="help-select">
    <option>Rose</option>
    <option>Tulip</option>
    <option>Daisy</option>
    <option>Snapdragon</option>
    <option>Sunflower</option>
    <option>Lily</option>
  </select>
  </ion-item> -->

    <ion-searchbar animated="true" autocomplete="on" autocorrect="on" (ionInput)="this.cards"> 
      <ion-list>
          <ion-item *ngFor="let item of items">
              {{ cards }}
            </ion-item>
      </ion-list>
    </ion-searchbar>

  <!-- <button ion-button color="secondary" full (click)="btnClick">
  Click Here
  </button> -->

</ion-content>
